# Copie ce fichier en .env et remplis les valeurs
# Ne jamais commit .env sur GitHub !

MONGO_URI=mongodb://localhost:27017/snde_incidents
JWT_SECRET=change_this_to_a_long_random_secret_key_min_32_chars
FLASK_ENV=development
PORT=5000
